p,ul {
    outline: 2px solid rebeccapurple;
    padding: 0.2em;
}
.block,li {
    border: 2px solid blue;
    padding: 0.2em;
}

ul {
    display: inline-flex;
    list-style: none;
    background-color: antiquewhite;
}
.block {
    display: inline;
    background-color: blanchedalmond;
}
p {
    background-color: beige;
}
li {
    background-color: aquamarine;
}