.h1 {
    color: brown;
    outline: 5px solid rebeccapurple;
    padding: 5px;
    margin: 5px;
    border: 5px;
    background-color: bisque;
    height: 50px;
    width: 150px;
    box-sizing: border-box;
}
#button {
    color: red;
    height: 35px;
    width: 50px;
    background-color: blanchedalmond;
    outline: 10px;
    padding: 5px;
    margin: 10;
    box-sizing: border-box;
    border: 10px;
}
